MONGODB_URI=mongodb+srv://gabinandan_db_user:zQzJ21JWcwJrqP14@myexpensemanager.jtnwery.mongodb.net/?retryWrites=true&w=majority&appName=MyExpenseManager
NODE_ENV=production
VITE_API_URL=https://your-vercel-domain.vercel.app/api
